:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--brand-color);
  background-color: var(--background-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.head-section {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CSS STYLES */

/* Header section */

.header {
  border-bottom: 1px solid var(--color-cornflower);
}
.container-hero {
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
}
.header-nav {
  margin-right: 332px;
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.header-link {
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.header-link:hover {
  color: #404bbf;
}
.header-link:focus {
  color: #404bbf;
}

.link {
  text-decoration: none;
}
.header-studio {
  color: #2e2f42;
}
.header-list {
  display: flex;
  gap: 40px;
}

.contact {
  font-style: normal;
}
.contact-list {
  display: flex;
  gap: 40px;
}
.contact-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}
.contact-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-slate);
}
.contact-link:hover {
  color: #404bbf;
}
.contact-link:focus {
  color: #404bbf;
}

/* Hero section */

.hero-section {
  padding: 188px 0;
  margin-bottom: 120px;
  text-align: center;
  background-color: #2e2f42;
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 496px;
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}
.hero-btm {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  background-color: var(--color-iris);
  color: #ffffff;
}
.hero-btm:hover {
  background-color: #404bbf;
}
.hero-btm:focus {
  background-color: #404bbf;
}

/* Work section */

.work-section {
  padding: 120px 0;
  margin-bottom: 120px;
}
.work-list {
  display: flex;
  gap: 24px;
}
.work-list:nth-last-child() {
  margin-right: 0;
}
.work-item {
  flex-basis: calc((100%-3 * 24px) / 4);
}

.work-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--color-navy-blue);
}

.work-uperrtitle {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Studio section */

.studio-section {
  padding-bottom: 120px;
}
.studio-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--color-navy-blue);
}
.studio-list {
  display: flex;
  gap: 24px;
}

/* Team section */

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #f4f4fd;
}
.team-title {
  margin-bottom: 72px;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-grey);
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.name {
  padding: 32px 16px;
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  line-height: 1.2;
  color: var(--color-navy-blue);
}
.team-uperrtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
}

/* Footer section */

.footer {
  padding: 100px 0;
  background-color: var(--color-navy-blue);
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: #4d5ae5;
}
.footer-span-logo {
  color: #f4f4fd;
}
.footer-undertitle {
  max-width: 264px;
}

/* PORTFOLIO */

.header-logo {
  margin-right: 76px;
}
.header-portfolio {
  position: absolute;
  width: 1440px;
  height: 72px;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #e7e9fc;
}
.container-portfolio {
  display: flex;
  align-items: center;
}
.nav-portfolio {
  margin-right: 332px;
  display: flex;
  align-items: center;
}

.menu-link {
  padding: 24px 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}
.menu-list {
  display: flex;
  gap: 40px;
}

.menu-item {
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.address {
  font-style: normal;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
}

.address-link:hover {
  color: #404bbf;
}
.btm {
  padding: 12px 24px;
  border: 1px solid var(--color-cornflower);
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  background-color: var(--color-cloud);
  cursor: pointer;
}
.btm:hover {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
}
.btm:focus {
  border: 1px solid transparent;
  color: #ffffff;
  background-color: #404bbf;
}

.portfolio-section {
  padding: 96px 0 120px;
}
.portfolio-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.row-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.card-categories {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.portfolio-uperrtitle {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--color-slate);
}

.foooter-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
